<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mb-5">Welcome!</h1>
      <figure>
        <img
          src="../../assets/img/address_books_large.jpg"
          alt="Address book">
        <figcaption>The best online Address book!</figcaption>
      </figure>
      <p class="lead mt-5">With this application you'll be able to do the following:</p>
      <ul class="list-unstyled">
        <li>- Manage your contacts</li>
        <li>- See a list of all your contacts</li>
      </ul>
    </div>
  </div>
</div>
